<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>
        .main{
            border:4px solid blue;
            background-color: aqua;
            color:rgb(219, 27, 59);
        }
    </style>
</head>
<body>
<h1> passing data from django view to html use double curly bracket</h1>
<div class="main">
    {{sub}}
</div>
<div>
    <h1>
        showing data on views using for loop
    </h1>
    {% for n in clist %}
       <div>{{forloop.counter}} {{n}}</div>
    {% endfor %}
</div>
<div>
    <table border="2px" cellpadding="10px">
        <tr>
            <th>name</th>
            <th>phone</th>
        </tr>
        {% for a in sdet %}
        <tr>
            <td>{{a.name}}</td>

            <td>{{a.phone}}</td>
        </tr>
        {% endfor %}
    </table>
    {% for c in cclist %}

       {% if c > 0 %}
     <div>
       {{c}}
     </div>
       {% endif %}
    {% endfor %}
</div>
</body>
</html>