body{
    background-color:black;
    font-family:'poppins',sans-serif;
}
nav{
    display:flex;/* col to row*/
    justify-content:space-between;
    color:white;
    margin-left:30px;
    


}
nav h1{
    font-size:50px;
    border-bottom:5px solid rgb(11, 154, 11);
    border-radius:20px;
    color: rgb(11, 154, 11);
    font-family:cursive;
}

ul{
    display:flex;
}
ul li{
    list-style: none;
    margin-inline:20px;
    font-size: 22px;

}
ul li a:hover{
    color:#BA68C8;
}
ul li a{
    color:white;
}
.btn button{
    width:100px;
    height:36px;
    border:3px solid rgb(0, 128, 4);
    background-color: black;
    color:white;
    font-size: 16px;
    border-radius:20px;
    margin-top:10px;
    margin-right: 5px;
}
.btn button:hover{
    background-color: #BA68C8;
}
.head {
    font-size: 45px;
    margin-left:30px;

}
.main{
    display:flex;
    justify-content: space-between;
    color:white;
    margin-top: 30px ;
    
}
.allimages{
    margin-right:5px;
    width:500px;
    
}
.head button{
    width:160px;
    height:45px;
    background-color: rgb(0, 128, 4);
    font-size:20px ;
    color:white;
}
.head button:hover{
   background-color: 
   #BA68C8;
   border: 3px solid black;
   cursor:pointer;
}
.typ{
    
    font-size:35px;
    color:white;
    justify-content: space-between;
}
.gallery{
    height:auto;
    width:470px;
    border:3px solid;
    float:left;

}
.gallery img{
    width:100%;
    height:400px;
    display:flex;
    flex-wrap: wrap;

}
/* .typ img{
    height:400px;
    width:400px;
    margin-left:10px;
    margin-top:20px;
    margin-inline:20px;
    border-radius: 50px; */

.hello{
    display:flex;
    justify-content: space-between;
    /* background:url('pics\khloe-arledge-ND3edEmzcdQ-unsplash.jpg'); */
    color:white;
}
.hello1 img{
    
    margin-left: 10px;
    height:500px;
    width:500px;

}
.hello2{
    margin-top: 10px;
    width:50%
}

.hello2 a{
    font-size:17px;
    color:white;
    border:2spx solid rgb(0, 128, 4);
    text-decoration: none;
    
}